{% extends 'base.html.twig' %}

{% block title %}Edit Quest{% endblock %}

{% block extraStyle %}
 {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="text-[5rem] text-amber-500">Modifier la quête</h1>

    {{ include('quest/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quest_index') }}">back to list</a>

    <a href="{{ path('quest_delete', {'id': quest.id}) }}">delete</a>
{% endblock %}
