{% extends 'base.html.twig' %}

{% block title %}Edit Quest{% endblock %}

{% block body %}
    <h1>Edit Quest</h1>

    {{ include('quest/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quest_index') }}">back to list</a>

    <a href="{{ path('quest_delete', {'id': quest.id}) }}">delete</a>
{% endblock %}
