{% extends 'base.html.twig' %}

{% block title %}New Quest{% endblock %}

{#{% block extraStyle %}#}
{#    <style>#}
{#        body {#}
{#            background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("{{ asset('images/Image.png') }}");#}
{#            background-color: #1A1A1A;#}
{#            background-size: contain;#}
{#            background-repeat: no-repeat;#}
{#            min-height: 100vh;#}
{#        }#}
{#    </style>#}
{#{% endblock %}#}

{% block body %}
    <h1>Create new Quest</h1>

    {{ include('quest/_form.html.twig') }}

    <a href="{{ path('quest_index') }}">back to list</a>
{% endblock %}
