{% extends 'base.html.twig' %}

{% block title %}Nouvelle Quête{% endblock %}

{% block extraStyle %}
        {{ parent() }}
{% endblock %}

{% block body %}
<article>
    <h1 class="">Nouvelle quête</h1>

<div class="text-white flex">

    {{ include('quest/_form.html.twig') }}

    <a href="{{ path('quest_index') }}">Retour à la liste</a>
    </div>
    </article>
{% endblock %}
