{% extends 'base.html.twig' %}

{% block title %}New Quest{% endblock %}

{% block extraStyle %}
{{ parent() }}
{% endblock %}

{% block body %}
<article>
    <h1 class="">Créer une nouvelle quête</h1>

<div class="text-white ml-33">
    {{ include('quest/_form.html.twig') }}

    <a class="ml-4 border border-yellow-500 text-white p-2 bg-[#1A1A1A]" href="{{ path('quest_index') }}">back to list</a>
    </div>
    </article>
{% endblock %}
