{% extends 'base.html.twig' %}

{% block title %}New Quest{% endblock %}

{% block extraStyle %}
{{ parent() }}
{% endblock %}

{% block body %}

    <h1 class="text-[5rem]  text-amber-500">Créer une nouvelle quête</h1>

<div class="text-white">
    {{ include('quest/_form.html.twig') }}

    <a href="{{ path('quest_index') }}">back to list</a>
    </div>
{% endblock %}
