{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Home{% endblock %}
{% block extraStyle %}
    <style>
        body{
            background-image:url("{{ asset('images/Image.png') }}");
            background-size: cover;

        }
    </style>
{% endblock %}

{% block body %}
    <header>
        <h1 class="text-red-500">Hello ! ✅</h1>
    </header>

{% endblock %}
