<div class="flex justify-between text-white p-5">
    <div>
        <h1>Quest.ENI</h1>
    </div>
    <div>
        <a href="{{ path('main_home') }}">Home</a>
        <a href="{{ path('main_test') }}">Test</a>
    </div>
    <div>
    </div>
</div>
<div class="border-1 border-white"></div>
