<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Quest.ENI |{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap" rel="stylesheet">


    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

    {% block extraStyle %}
        <style>
        .abeezee-regular {
            font-family: "ABeeZee", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        body {

            background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("{{ asset('images/Image.png') }}");
            background-color: #1A1A1A;
            background-size: contain;
            background-repeat: no-repeat;
            min-height: 100vh;
            cursor: url("{{ asset('/images/cursor/Dark-souls-3.cur') }}"), auto;
        }

        a, [role="button"], .cursor-pointer {
            cursor: url("{{ asset('/images/cursor/Darksign-(Link).cur') }}"), auto;
        }

        h3, a {
            font-family: "ABeeZee";
        }

        h1, h2, h5 {
            font-family: 'Pixelify Sans', sans-serif;
        }

        h1 {
            font-size: 4rem;
            color: #F5AD27;
            margin-left: 145px;
        }

        article {
            padding: 5px;
            margin-right: 10px;
            margin-top: 15px;
        }
        </style>{% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

</head>
<body>
<header>
    {% include '/views/nav/navbar.html.twig' %}
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    {% include '/views/footer/footer.html.twig' %}
</footer>
</body>
</html>
