{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1 class="text-[4rem] mb-3 font-weight-normal text-amber-500 text-left">Create new User</h1>

    <div class="text-white">
    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
    </div>
{% endblock %}
