{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block extraStyle %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <article>
        <h1>Créer un aventurier</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}


            <div class="flex justify-center ">
                <div class=" flex flex-col border border-yellow-500 bg-[#1A1A1A] text-white w-5/6 h-auto p-5 gap-4">

                    <div class="mt-5">
                        {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
                    </div>

                </div>

                <div class="ml-auto  flex flex-col items-end  gap-2 mr-6  mt-4">
                    <a href="{{ path('user_index') }}">Retour à la liste</a>
                </div>


            </div>


        {% endif %}
    </article>
{% endblock %}
